{{header}}
<section id="fh5co-hero" class="no-js-fullheight" style="background-image: url(images/full_image_1.jpg);" data-next="yes">
  <div class="fh5co-overlay"></div>
  <div class="container">
    <div class="fh5co-intro no-js-fullheight">
      <div class="fh5co-intro-text"> 
        <!-- 
							INFO:
							Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
							Example:
							<div class="fh5co-right-position">
						-->
        <div class="fh5co-center-position">
          <h2 class="animate-box">Who We Are</h2>
          <h3 class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="fh5co-learn-more animate-box"> <a href="#" class="scroll-btn"> <span class="text">Explore more about us</span> <span class="arrow"><i class="icon-chevron-down"></i></span> </a> </div>
</section>
<!-- END #fh5co-hero -->

<div id="fh5co-about">
  <div class="container">
    <div class="row row-bottom-padded-lg">
      <div class="col-md-6">
        <figure class="animate-box"> <img src="catalog/view/javascript/common/images/img_3.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive"> </figure>
      </div>
      <div class="col-md-6">
        <div class="fh5co-label animate-box">Who We Are</div>
        <h2 class="fh5co-lead animate-box">We Are Thinkers, Innovators, Scientist, etc.</h2>
        <p class="fh5co-sub-lead animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-person">
          <figure class="animate-box"> <img src="catalog/view/javascript/common/images/person5.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive"> </figure>
          <h3 class="fh5co-name animate-box">Jeff Wardrobe</h3>
          <h4 class="fh5co-designation animate-box">Founder, Web Developer</h4>
          <p class="fh5co-bio animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <ul class="fh5co-social">
            <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
            <li class="animate-box"><a href="#"><i class="icon-dribbble"></i></a></li>
            <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-person">
          <figure class="animate-box"> <img src="catalog/view/javascript/common/images/person6.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive"> </figure>
          <h3 class="fh5co-name animate-box">Jean Smith</h3>
          <h4 class="fh5co-designation animate-box">Founder, Creative Director</h4>
          <p class="fh5co-bio animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <ul class="fh5co-social">
            <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
            <li class="animate-box"><a href="#"><i class="icon-github"></i></a></li>
            <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-person">
          <figure class="animate-box"> <img src="catalog/view/javascript/common/images/person7.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive"> </figure>
          <h3 class="fh5co-name animate-box">Ruben Lakewood</h3>
          <h4 class="fh5co-designation animate-box">UI Designer &amp; Animator</h4>
          <p class="fh5co-bio animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <ul class="fh5co-social">
            <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
            <li class="animate-box"><a href="#"><i class="icon-dribbble"></i></a></li>
            <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END #fh5co-about -->

<div id="fh5co-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <figure class="animate-box"> <img src="catalog/view/javascript/common/images/img_4.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive"> </figure>
      </div>
      <div class="col-md-6">
        <div class="fh5co-label animate-box">More about web</div>
        <h2 class="fh5co-lead animate-box">Why Web Design?</h2>
        <p class="fh5co-sub-lead animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </div>
  </div>
</div>
{{footer}} 