{{ header }}
<div class="container"  style=" min-height::600px">
  <div style="margin-top:70px;">
    <h2>User Agreement</h2>
    <p class="fh5co-sub-lead animate-box">Pillow Profits provides a service, called the Pillow Profits Fulfillment App (or “Pillow Profits App”, or just the “App”) that allows users to design and sell custom apparel via their own online stores created at Shopify.com.  By using our site and our service, and the Pillow Profits App in any way, you accept the terms and conditions within this agreement and our Terms of Service, including any future amendments (collectively, the “Agreement”).
By violating this User Agreement of this Terms of Service in any way, you may be subject to immediate removal of the Pillow Profits App from your Shopify store, cancellation of any pending orders, and/or suspension or termination of your account, at the sole discretion of Pillow Profits.
The Pillow Profits App is provided “as is”, with no warranty of any kind.  We have made every effort to provide a service that functions as expected; however, from time to time errors or internet connections may limit the performance of this service.  In no way shall Pillow Profits be responsible for any loss of profits due to or arising from the use of the Pillow Profits App.</p>
  </div>
</div>
{{ footer }} 