{{header}}

  <div class="container" style="padding:40px;">

      <h2>FAQ</h2>
    <p>CustomDr provides a service, called the CustomDr Fulfillment App (or “CustomDr App”, or just the “App”) that allows users to design and sell custom apparel via their own online stores created at Shopify.com.</br>  By using our site and our service, and the CustomDr App in any way, you accept the terms and conditions within this agreement and our Terms of Service, including any future amendments (collectively, the “Agreement”). </br>
	By violating this User Agreement of this Terms of Service in any way, you may be subject to immediate removal of the CustomDr App from your Shopify store, cancellation of any pending orders, and/or suspension or termination of your account, at the sole discretion of CustomDr. </br>  
	The CustomDr App is provided “as is”, with no warranty of any kind. We have made every effort to provide a service that functions as expected; however, from time to time errors or internet connections may limit the performance of this service. In no way shall CustomDr be responsible for any loss of profits due to or arising from the use of the CustomDr App.</p>
     <h2>What are the estimated delivery times on my orders?</h2>

<p>Production Time: 4-6 Days</br>

EMS Countries Delivery Time Estimates: 10-25 Days (EMS With Destination Tracking)</br>

EMS Countries pillow orders that have not arrived within 45 days of order processing are eligible for refunds or free reshipment.</br>

International Delivery Time Estimates: 2-4 Weeks (China Post Does Not Include Final Destination Tracking)</br>

International pillow orders that have not arrived within 60 days of order processing are eligible for refunds or free reshipment.</p>

 <h2>Which countries have EMS delivery with destination tracking available?</h2>

<p>United States, Australia, Canada, France, United Kingdom, Israel, Germany, Austria, Belgium, Brazil, Switzerland, Denmark, Spain, Finland, Greece, Hungary, Ireland, Italy, Japan, Korea (South), Luxembourg, Mexico, Myanmar, Netherlands, Norway, New Zealand, Poland, Portugal, Russian Federation, Sweden, Singapore, Turkey, Ukraine.</p>

 <h2>What are your shipping fees for US and International orders?</h2>

<p>There are no shipping fees. The cost of shipping is already built into the price for each product in our catalogue.</br>

There are no hidden or additional shipping costs for U.S. or International orders that you need to worry about.</br>

That’s right! We are the only fulfillment service that will print and ship your products at rock-bottom pricing, anywhere in the world with no additional shipping cost!</p>

 <h3>More FAQ is to be continued</h3>
  </div>

{{footer}} 