<!--<footer>
  <div class="container" >
    <p>{{ powered }}</p>
  </div>
</footer>-->

{% for script in scripts %} 
<script src="{{ script }}" type="text/javascript"></script> 
{% endfor %} 
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<div class="footer full-width">
  <div class="background">
    <div class="pattern">
      <div class="container">
        <div class="advanced-grid advanced-grid-215087520  " style="margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
          <div style="">
            <div class="container">
              <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                <div class="row">
                  <div class="col-sm-12" style="margin:0px; padding:0px;">
                    <div class="footer-about-us text-center" style="margin:0px; padding:0px; padding-bottom:20px;">
                      <ul class="social-icons social-icons-fashionsimple"> 
                      {% if informations %}
                      {% for info in informations %}
                       <li><a  href="{{ info .href}}" style="font-size:16px;">{{info.title}}</a></li>
                       {% endfor %}
                       {% endif%}
                       
                         <li><a  href="index.php?route=commonipl/edit" style="font-size:16px;">ACCOUNT SETTINGS</a></li>
                      </ul>
                    </div>                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div style="text-align: center">Copyright © 2017, JewelryEgg, All Rights Reserved.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body></html>