{{ header }}

  <div class="container"  style="height:400px">
  
     
        <!-- 
							INFO:
							Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
							Example:
							<div class="fh5co-right-position">
						-->
        <div style="margin-top:70px;">
        <h2 class="fh5co-lead animate-box">CustomDr handles your custom design on Backpacks, Shoes...etc</h2>
        <p class="fh5co-sub-lead animate-box">Custom on demand solution for Shopify, No monthly fee, no- inventory, online printing, fulfillment and shipping.</p>
      </div>
         
          <p class="animate-box"><!--<a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-outline popup-vimeo btn-video"><i class="icon-play2"></i> Watch video</a>--> <a href="index.php?route=commonipl/dashboard" target="_blank" class="btn btn-primary">Get Started</a></p>
        
      </div>
 <!-- <div class="fh5co-learn-more animate-box"> <a href="#" class="scroll-btn"> <span class="text">Explore more about us</span> <span class="arrow"><i class="icon-chevron-down"></i></span> </a> </div>-->
 <hr style="margin: 0!important;">
 <section id="fh5co-features">
  <div class="container">
    <div class="row text-center row-bottom-padded-md">
      <div class="col-md-8 col-md-offset-2">
        <!--<figure class="fh5co-devices animate-box"><img src="catalog/view/javascript/common/images/img_devices.png" alt="Free HTML5 Bootstrap Template" class="img-responsive"></figure>-->
        <h2 class="fh5co-lead animate-box">How it works</h2>
       <!-- <p class="fh5co-sub-lead animate-box">Create, products with your design based upon our categories, Selll them instantly on your Shopify store with no inventory. </p>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon"> <img  style="height:150px; width:auto;" src="catalog/view/javascript/common/images/create-design.jpg" alt="Image" class="img-responsive"> </div>
          <h3>Create & Sell with several clicks</h3>
          <p>Create products with your design based upon our categories, Selll them instantly on your Shopify store with no inventory. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon">  <img style="height:150px; width:auto;" src="catalog/view/javascript/common/images/factory.jpg" alt="Image" class="img-responsive"> </div>
          <h3>CustomDr Handles the fulfillment for you
</h3>
          <p>Your order is automatically sent to CustomDr. We will print, pack and ship your order under your name. Tracking number will be updated to your shopify store automatically.
</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon"> <img style="height:150px; width:auto;" src="catalog/view/javascript/common/images/inventory.jpg" alt="Image" class="img-responsive"></div>
          <h3>Happy Customer, big profits without inventory!
</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      
      <div class="clearfix visible-sm-block"></div>
    </div>
  </div>
</section>

<!-- END #fh5co-features -->
 
<!-- END #fh5co-hero -->
<section id="fh5co-projects">
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="fh5co-lead animate-box">Our products</h2>
        <p class="fh5co-sub-lead animate-box">Printed and shipped on demand, under your brand! </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/1.1_255x80-525x350.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/1.1_255x80-525x350.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>1 Panel Wall Art</h2>
          <p>- Premium 100% Natural Cotton Canvas<br />
- 300 GSM Canvas<br />
- Tight stretched and folded corners by hand
</p>
        </div>
        </a> </div>
      <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/1.2_230x80-545x350.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/1.2_230x80-545x350.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
           <h2>3 Panel Wall Art
</h2>
          <p>- Premium 100% Natural Cotton Canvas<br />
- 300 GSM Canvas<br />
- Tight stretched and folded corners by hand
</p>
        </div>
        </a> </div>
      <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/1.3_240x80-545x350.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/1.3_240x80-545x350.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
            <h2>5 Panel Wall Art</h2>
          <p>- Premium 100% Natural Cotton Canvas<br />
- 300 GSM Canvas<br />
- Tight stretched and folded corners by hand
</p>
        </div>
        </a> </div>
     <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/low_top_shoe.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/low_top_shoe.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>Low Top Shoe</h2>
          <p></p>
        </div>
        </a> </div>
        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/high_top_shoe.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/high_top_shoe.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>High Top Shoe</h2>
          <p></p>
        </div>
        </a> </div>
        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/heels.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/heels.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>Women's Heels</h2>
          <p></p>
        </div>
        </a> </div>
       <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/tote_bag.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/tote_bag.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>Totes</h2>
          <p></p>
        </div>
        </a> </div>
      <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/backpack.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/backpack.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>Backpack</h2>
          <p></p>
        </div>
        </a> </div>
        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/backpack2.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/backpack2.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>Backpack</h2>
          <p></p>
        </div>
        </a> </div>
         <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/backpack3.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/backpack3.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>Backpack</h2>
          <p></p>
        </div>
        </a> </div>
    <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/dina_pack.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/dina_pack.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>handbag</h2>
          <p></p>
        </div>
        </a> </div>
         <div class="col-md-4 col-sm-6 col-xxs-12 animate-box"> <a href="catalog/view/javascript/common/images/cosmetic_bag.jpg" class="fh5co-project-item image-popup"> <img src="catalog/view/javascript/common/images/cosmetic_bag.jpg" alt="Image" class="img-responsive">
        <div class="fh5co-text">
          <h2>Cosmetic bag</h2>
          <p></p>
        </div>
        </a> </div>
    </div>
  </div>
</section>
<!-- END #fh5co-projects -->

<section id="fh5co-features">
  <div class="container">
    <div class="row text-center row-bottom-padded-md">
      <div class="col-md-8 col-md-offset-2">
  <!--      <figure class="fh5co-devices animate-box"><img src="catalog/view/javascript/common/images/img_devices.png" alt="Free HTML5 Bootstrap Template" class="img-responsive"></figure>-->
        <h3 class="margin-bottom-20">The benefits of running a store - without the hassle</h2>

      </div>
    </div>
    <div class="row" style="margin-left:45px; margin-right:45px;">
    <div class="col-md-4 col-sm-6">
        <div  style="background-image:url(catalog/view/javascript/common/images/workshop_1.png); height:311px; margin-bottom:30px;text-align:center;    background-repeat: no-repeat;
    background-position: center center;
position: relative;" title="No minimum orders.
">
             <div  style="    position: absolute;
    top: 110px;
    left: 50px;
    right: 40px;">
                <h3 style="color: #fff!important;" class="margin-bottom-20">No minimum orders.</h3>
                <p style="color: #fff;">We work from 1 order, we have enough patience to help your business grow up.
</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
              <div  style="background-image:url(catalog/view/javascript/common/images/workshop_1.png); height:311px; margin-bottom:30px;text-align:center;    background-repeat: no-repeat;
    background-position: center center;
position: relative;" title="No inventory to access hundreds of UNIQUE customizable products
">
             <div  style="    position: absolute;
    top: 110px;
    left: 50px;
    right: 40px;">
                <h3 style="color: #fff!important;" class="margin-bottom-20">No inventory to access hundreds of UNIQUE customizable products</h3>
                 <p style="color: #fff; margin-top:-20px;">No machines, no warehouse, no packing</p>
            </div>
        </div>
    </div>



    <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
                <div  style="background-image:url(catalog/view/javascript/common/images/workshop_1.png); height:311px; margin-bottom:30px;text-align:center;    background-repeat: no-repeat;
    background-position: center center;Reshipment for lost and damaged items
">
             <div  style="    position: absolute;
    top: 110px;
    left: 50px;
    right: 40px;">
                <h3 style="color: #fff!important;" class="margin-bottom-20">Reshipment for lost and damaged items</h3>
                 <p style="color: #fff;">What we care most is our customers are satisfied!
</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
               <div  style="background-image:url(catalog/view/javascript/common/images/workshop_1.png); height:311px; margin-bottom:30px;text-align:center;    background-repeat: no-repeat;
    background-position: center center;
position: relative;" title="Free Shipping!
">
             <div  style="    position: absolute;
    top: 110px;
    left: 50px;
    right: 40px;">
                <h3 style="color: #fff!important;" class="margin-bottom-20">Free Shipping!</h3>
                 <p style="color: #fff;">All CustomDr items are free shipping worldwidely with tracking numbers.
</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
               <div  style="background-image:url(catalog/view/javascript/common/images/workshop_1.png); height:311px; margin-bottom:30px;text-align:center;    background-repeat: no-repeat;
    background-position: center center;
position: relative;" title="No monthly fees
">
             <div  style="    position: absolute;
    top: 110px;
    left: 50px;
    right: 40px;">
                <h3 style="color: #fff!important;" class="margin-bottom-20">
No monthly fees
</h3>
                 <p style="color: #fff;">Only pay when your customer placed order</p>
            </div>
        </div>
    </div>
    
        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
               <div  style="background-image:url(catalog/view/javascript/common/images/workshop_1.png); height:311px; margin-bottom:30px;text-align:center;    background-repeat: no-repeat;
    background-position: center center;
position: relative;" title="No manual orders – All your orders are automatically fulfilled By CustomDr.

">
             <div  style="    position: absolute;
    top: 110px;
    left: 50px;
    right: 40px;">
                <h3 style="color: #fff!important;" class="margin-bottom-20">No manual orders – All your orders are automatically fulfilled By CustomDr.
</h3>
            </div>
        </div>
    </div>
</div>
   <!-- <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon"> <i class="icon-power"></i> </div>
          <h3>Best For Startup</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon"> <i class="icon-flag2"></i> </div>
          <h3>Easy To Use</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon"> <i class="icon-anchor"></i> </div>
          <h3>Robust In Mind</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon"> <i class="icon-paragraph"></i> </div>
          <h3>Beautiful Typography</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon"> <i class="icon-umbrella"></i> </div>
          <h3>Eco Friendly</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 animate-box">
        <div class="fh5co-feature">
          <div class="fh5co-icon"> <i class="icon-toggle"></i> </div>
          <h3>Wide and Boxed</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
    </div>-->
  </div>
</section>

<!-- END #fh5co-features -->

<!--<section id="fh5co-features-2">
  <div class="container">
    <div class="col-md-6 col-md-push-6">
      <figure class="fh5co-feature-image animate-box"> <img src="catalog/view/javascript/common/images/macbook.png" alt="Free HTML5 Bootstrap Template by FREEHTML5.co"> </figure>
    </div>
    <div class="col-md-6 col-md-pull-6"> <span class="fh5co-label animate-box">See Features</span>
      <h2 class="fh5co-lead animate-box">Superb Features</h2>
      <div class="fh5co-feature">
        <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
        <div class="fh5co-text animate-box">
          <h3>Beautiful Typography</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-feature">
        <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
        <div class="fh5co-text animate-box">
          <h3>Eco Friendly</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-feature">
        <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
        <div class="fh5co-text animate-box">
          <h3>Wide and Boxed</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <!--<div class="fh5co-btn-action animate-box"> <a href="#" class="btn btn-primary btn-cta">More Features</a> </div>
    </div>
  </div>
</section>-->
<!-- END #fh5co-features-2 --> 
{{ footer }} 