{{header}}

<div class="container" style=" padding:40px;">
<h1>Tracking Number Policy</h1>
<p>Store owners should clearly post the following wait times for tracking information availability on their store FAQ page, We suggest store owners notify their customers about the tracking number availability in the order confirmation email after a customer has successfully placed an order.</p>
<h2>Recommended Tracking Websites</h2>
<p><a href="www.17track.net/en" style="color:#06F">www.17track.net/en</a> for international orders<br><br>
<a href="https://tools.usps.com/go/TrackConfirmAction_input" style="color:#06F">https://tools.usps.com/go/TrackConfirmAction_input</a>  for U.S. orders.</p>

<h2>Order Modification Policy</h2>
<p>Change and Cancellation requests are only allowed within 24 hours from the time that the order was placed. After 24 hours have elapsed, no order modifications are allowed. You can make order modifications inside the  App or you may notify the  Support Team to make an order modification or cancellation request.<br><br>
If a seller needs to change an order within the 24-hour allowable time frame,  will be able to assist with the following scenarios:<br><br>
Removing items from an order <br><br>

Change of shipping address<br><br>

Change of email address<br><br>

Change of customer’s name<br><br>

If a seller wants to change a variant or add more items to an order this is not possible.<br><br> 

24 Hour Modification Policy does not cover orders that are Manually Processed by the seller. Seller that has a Store Setting of AUTO PLACE ORDER: NO should see to it that order detail is final upon submission. 
</p>

<h2>Payment Policy</h2>
<p>
Due to limited production capacity, all payments for orders must be completed within 48 hours from the time the order is received in the pending folder of the app. Sellers that fail to pay for pending orders within 48 hours must cease selling immediately or will be banned from the app.<br>
All sellers must have auto-pay activated with 2 valid payment methods active in order to pay for orders on-time. Failure to do so will result in being banned from the app. Custom Duties, <br><br>
is not liable for losses due to delays caused by delinquent payments. 
</p>


<h2>Duties, Tax and Charges </h2>
<p>Custom Duties, Tax and Charges are not included in our base price. <br><br>

This is a shopper’s responsibility as each country has different Custom Duties and Laws of Taxation.</p>


<h2>Refund Policy Custom</h2>
<h4>Items Damaged or Poor Quality</h4>
<p>If an item is damaged or is shipped with a poor-quality print, you must send us a photograph of the poor-quality print or damaged area.  will replace any items damaged or poor-quality at no additional cost.   is not responsible for items damaged in shipping.</p>

<h4>Wrong Product Shipped/Missing Items</h4>
<p>If we ship the wrong product to your customer, send us a photo showing how the product differs from what was ordered and we will replace or refund any such items at no additional cost. If there are missing items in an order please tell us the items that are missing and we will send the missing item.</p>

<h4>Design Issues</h4>
<p>If you have any other complaint regarding the design printed on a product, please send us a photo.  Credits, refunds, or reprints will be issued at the sole discretion of  if the printed design differs substantially from the artwork that was submitted.  We will investigate every case and will work to provide a resolution that satisfies you and your customers.</p>

<h4>Sizing Issues</h4>
<p>In the rare event that a
customer is unhappy with the fit of their shoe,  will process a
free exchange for your customer. <br><br>
Refunds will not be issued for sizing
disputes, only exchanges are allowed.<br><br>
Free Exchanges will only be
allowed once per shoe order. Any costs related to exchanges past the first free
exchange must be covered by sellers.<br><br>
In order for a free exchange to
be processed, sellers must provide the following information: reason the shoe didn’t
fit (i.e. too small, too big, too narrow), the new size requested by the customer,
customer name, order number, and store name.<br><br>
Size exchange requests that differ
by more than 2 sizes from the original size ordered will be considered a customer-input
error and will not be eligible for exchange by .<br><br>
To reduce the risk of sizing issues,
we have provided accurate sizing charts on each of our product specifications
pages for customer reference.
</p>

<h4>Package Returned To Sender</h4>
<p>If a package is returned to sender by the shipping courier,  will reship the package to your customer for free after an address verification is complete by the seller.<br><br>

Note:  will not refund returned packages to sender and reshipment times are the same as regular orders.</p>

<h4>Package Returned To Sender – Wrong Address </h4>
<p>will not refund nor assume liability for orders returned to sender due to incorrect address information provided by customers or missed delivery attempts by couriers. Sellers may request a reshipment attempt but will be responsible for fees associated with additional delivery attempts.</p>

<h4>Used Items and Term Limits</h4>
<p>Items in used condition are not eligible for refunds or exchanges. New and unused items that have been sucessfully received by customers within 30 days are eligible for returns or exchanges. Once 30 days have elapsed from the receipt of goods, refunds and exchanges will no longer be accepted.</p>

<h4>Design Uploads </h4>
<p> is not liable for printing or delivery delays related to complications arising from flawed designs being uploaded by store owners. </p>

<h4>Lost Order – Wrong Address</h4>
<p>will not refund nor assume liability for orders that are lost due to incorrect Shipping Address.</p>

<h2>ORDERS SEIZED BY CUSTOMS DUE TO COPYRIGHT AND TRADEMARK CLAIMS</h2>
<p>Monetary Losses arising from orders seized by customs due to copyright and trademark claims are the responsibility of the seller.  is not liable for losses related to the seizure of goods by international customs regulations.

By uploading or saving a design in the  App you agree that:

·You hold the rights to commercially reproduce this design.

·You also release  from any claims made as a result of any property right infringement.

·You understand that infringement of property rights is illegal. If you have any doubt as to the legal ownership of a design you should check with the rightful owner that you are able to use the design before uploading.

·You understand that  acts under your instructions and are not obligated in any way to check or confirm the legal use of reproducing any designs.

·You agree to indemnify and defend  for any claims made as a result of alleged infringements including copyrights, trademarks, rights of publicity, or other intellectual property claims, including any payments for damages sustained by a claimant and attorneys’ fees incurred by you to defend against any claims made.</p>
<h4>Software Application Policy</h4>


</div>

{{footer}} 