{{header}}
		<section id="fh5co-hero" class="no-js-fullheight" style="background-image: url(catalog/view/javascript/common/images/full_image_2.jpg);" data-next="yes">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="fh5co-intro no-js-fullheight">
					<div class="fh5co-intro-text">
						<!-- 
							INFO:
							Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
							Example:
							<div class="fh5co-right-position">
						-->
						<div class="fh5co-center-position">
							<h2 class="animate-box">Tour Our Products</h2>
							<h3 class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="fh5co-learn-more animate-box">
				<a href="#" class="scroll-btn">
					<span class="text">See our products</span>
					<span class="arrow"><i class="icon-chevron-down"></i></span>
				</a>
			</div>
		</section>
		<!-- END #fh5co-hero -->
<section id="fh5co-features">
  <div class="container">
    <div class="row text-center row-bottom-padded-md">
      <div class="col-md-8 col-md-offset-2">
        <figure class="fh5co-devices animate-box"><img src="catalog/view/javascript/common/images/img_devices.png" alt="Free HTML5 Bootstrap Template" class="img-responsive"></figure>
        <h2 class="fh5co-lead animate-box">Perfect Display in All Devices</h2>
        <p class="fh5co-sub-lead animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-feature">
          <div class="fh5co-icon animate-box"> <i class="icon-power"></i> </div>
          <h3 class="animate-box">Best For Startup</h3>
          <p class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-feature">
          <div class="fh5co-icon animate-box"> <i class="icon-flag2"></i> </div>
          <h3 class="animate-box">Easy To Use</h3>
          <p class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-feature">
          <div class="fh5co-icon animate-box"> <i class="icon-anchor"></i> </div>
          <h3 class="animate-box">Robust In Mind</h3>
          <p class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-feature">
          <div class="fh5co-icon animate-box"> <i class="icon-paragraph"></i> </div>
          <h3 class="animate-box">Beautiful Typography</h3>
          <p class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-feature">
          <div class="fh5co-icon animate-box"> <i class="icon-umbrella"></i> </div>
          <h3 class="animate-box">Eco Friendly</h3>
          <p class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="fh5co-feature">
          <div class="fh5co-icon animate-box"> <i class="icon-toggle"></i> </div>
          <h3 class="animate-box">Wide and Boxed</h3>
          <p class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
    </div>
  </div>
</section>

<!-- END #fh5co-features -->

<section id="fh5co-features-2">
  <div class="container">
    <div class="col-md-6 col-md-push-6">
      <figure class="fh5co-feature-image animate-box"> <img src="catalog/view/javascript/common/images/macbook.png" alt="Free HTML5 Bootstrap Template by FREEHTML5.co"> </figure>
    </div>
    <div class="col-md-6 col-md-pull-6"> <span class="fh5co-label animate-box">See Features</span>
      <h2 class="fh5co-lead animate-box">Superb Features</h2>
      <div class="fh5co-feature">
        <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
        <div class="fh5co-text animate-box">
          <h3>Beautiful Typography</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-feature">
        <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
        <div class="fh5co-text animate-box">
          <h3>Eco Friendly</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-feature">
        <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
        <div class="fh5co-text animate-box">
          <h3>Wide and Boxed</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-btn-action animate-box"> <a href="#" class="btn btn-primary btn-cta">More Features</a> </div>
    </div>
  </div>
</section>
<!-- END #fh5co-features-2 -->

<section id="fh5co-features-3">
  <div class="container">
    <div class="col-md-6 col-md-pull-8">
      <figure class="fh5co-feature-image animate-box"> <img src="catalog/view/javascript/common/images/macbook.png" alt="Free HTML5 Bootstrap Template by FREEHTML5.co"> </figure>
    </div>
    <div class="col-md-6"> <span class="fh5co-label animate-box">More Features</span>
      <h2 class="fh5co-lead animate-box">Let's take your business to the next level</h2>
      <div class="fh5co-feature animate-box">
        <div class="fh5co-icon"><i class="icon-paragraph"></i></div>
        <div class="fh5co-text">
          <h3>Beautiful Typography</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-feature animate-box">
        <div class="fh5co-icon"><i class="icon-umbrella"></i></div>
        <div class="fh5co-text">
          <h3>Eco Friendly</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-feature animate-box">
        <div class="fh5co-icon"><i class="icon-toggle"></i></div>
        <div class="fh5co-text">
          <h3>Wide and Boxed</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-btn-action animate-box"> <a href="#" class="btn btn-primary btn-cta">More Features</a> </div>
    </div>
  </div>
</section>
<!-- END #fh5co-features-3 -->

<section id="fh5co-features-4">
  <div class="container">
    <div class="col-md-6 col-md-push-6">
      <figure class="fh5co-feature-image animate-box"> <img src="catalog/view/javascript/common/images/macbook.png" alt="Free HTML5 Bootstrap Template by FREEHTML5.co"> </figure>
    </div>
    <div class="col-md-6 col-md-pull-6"> <span class="fh5co-label animate-box">See Features</span>
      <h2 class="fh5co-lead animate-box">Superb Features</h2>
      <div class="fh5co-feature animate-box">
        <div class="fh5co-icon"><i class="icon-check2"></i></div>
        <div class="fh5co-text">
          <h3>Beautiful Typography</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-feature animate-box">
        <div class="fh5co-icon"><i class="icon-check2"></i></div>
        <div class="fh5co-text">
          <h3>Eco Friendly</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-feature animate-box">
        <div class="fh5co-icon"><i class="icon-check2"></i></div>
        <div class="fh5co-text">
          <h3>Wide and Boxed</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="fh5co-btn-action animate-box"> <a href="#" class="btn btn-primary btn-cta">More Features</a> </div>
    </div>
  </div>
</section>
<!-- END #fh5co-features-4 --> 

{{footer}}