<!--<footer>
  <div class="container" >
    <p>{{ powered }}</p>
  </div>
</footer>-->
<div style="height:30px;"></div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

</body></html>