{{ header }}
<div id="account-edit" class="container" >
  <div class="content">
    <div class="getCard" style="display: block;">
        <div class="topbanner">
            <img src="catalog/view/javascript/store/images/newCard_01.png" alt="">
            <div class="form">
                <div style="text-align: center;margin-top: 30px;">
                    <input type="text" placeholder="Enter E-Mail" id="email">
                </div>
               
                <a href="javascript:;" id="getCard">Receive coupons</a>
            </div>
            <div style="position: absolute; left:1450px;top: 880px;margin: auto;"> <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> </div>
        </div>
         
       <!-- <img src="catalog/view/javascript/store/images/newCard_02.jpg" alt="">-->
    </div>
   
</div>
</div>

<!--<link rel="stylesheet" type="text/css" href="catalog/view/javascript/store/css/all.css">
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/store/css/base.css">
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/store/css/newMonthCard.css">-->
<style>
.fh5co-offcanvas{
	display:none;
}
#header{
	display:none;
}
.navbar {
    margin-bottom: 0px;
}
.form {
    position: absolute;
    left: 0;
    right: 0;
    top: 680px;
    width: 610px;
    margin: auto;
    background: #fff;
    border: 1px solid #a1ca88;
}
all.css:21
div, li, a, button {
    -webkit-tap-highlight-color: transparent;
}
_scaffolding.scss:11
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.form input {
    height: 60px;
    width: 540px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 32px;
}
.form #getCard {
    display: block;
    height: 75px;
    width: 540px;
    line-height: 74px;
    border-radius: 10px;
    text-align: center;
    font-size: 36px;
    background: #b5b5b5;
    color: #fff;
    margin: 20px auto 30px;
}
div, li, a, button {
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
</style>

{{ footer }}
