<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<link href="catalog/view/javascript/information/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="catalog/view/javascript/information/js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="catalog/view/javascript/information/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="catalog/view/javascript/information/css/flexslider.css" type="text/css" media="screen" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Auction Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<!--<link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
<!-- start-smoth-scrolling -->
<script src="hcatalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/information/js/move-top.js"></script>
<script type="text/javascript" src="catalog/view/javascript/information/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<div class="header">
	<div class="container">
		<div class="header-main">
			<div class="logo">
				<a href="index.html"> <img src="catalog/view/javascript/information/images/logo.png" alt="" title=""> </a>
			</div>
			<div class="head-right">
			  <div class="top-nav">
					<span class="menu"> <img src="catalog/view/javascript/information/images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a class="active" href="index.php?route=information/index">Home</a></li>
					<li><a href="index.php?route=information/about">About Us</a></li>
					<li><a href="index.php?route=information/contact">Contact</a></li>
				<div class="clearfix"> </div>
				</ul>
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
			 </div>
		    
			<div class="social">
				<ul >
					<li><a class="fa" href="#"> </a></li>
					<li><a class="tw" href="#"> </a></li>
					<li><a class="p" href="#"> </a></li>
				</ul>
				</div>
				
			<div class="search-box">
				<div id="sb-search" class="sb-search">
					<form>
						<input class="sb-search-input" placeholder="Search" type="search" name="search" id="search">
						<input class="sb-search-submit" type="submit" value="">
						<span class="sb-icon-search"> </span>
					</form>
			   </div>
			</div>
			<div class="clearfix"> </div>
			   <!-- search-scripts -->
					<script src="catalog/view/javascript/information/js/classie.js"></script>
					<script src="catalog/view/javascript/information/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
			  <!-- //search-scripts -->
		</div>
		
		<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--banner strip start here-->
<script src="catalog/view/javascript/information/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: false,
        nav:true,
      });
    });
  </script>

<!--<div class="banner">
	<div class="container">
		<div class="banner-main">
			<!--<ul class="rslides" id="slider">
	        <li>
	  			<h3>Temporibus autem quibusdam</h3>
				<p>We are Professional web developer Company</p>
				<!--<div class="bann-btn">
					  <a href="#" class="hvr-shutter-out-horizontal">Read More</a>
               </div>
	        </li>
	     
	      </ul>
		</div>
	</div>
</div>-->
<!--<div class="banner-strip">
	<div class="container">
		<h3>We Work On Advertising For Internal And External Communications</h3>
		<div class="bann-strip-btn">
			<a href="#" class="hvr-shutter-out-horizontal">Read More</a>
	    </div>
	   <div class="clearfix"> </div>
	</div>
</div>-->
<!--banner strip end here--> 
<!--services start here-->
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h3>Our Best Services</h3>
				<p>Great design is about more than style,it,s about being yoursel</p>
			</div>
			<div class="services-bottom">
				<div class="row">
					  <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
					  <a href="single.html"><img src="catalog/view/javascript/information/images/g2.jpg" alt=""></a>
					  <div class="caption">
					    <a href="single.html"><h3>Praesentium voluptatum</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
					   <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
					  <a href="single.html"><img src="catalog/view/javascript/information/images/g3.jpg" alt=""></a>
					  <div class="caption">
					   <a href="single.html"> <h3>Accusantium doloremque</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
					   <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
					  <a href="single.html"><img src="catalog/view/javascript/information/images/g4.jpg" alt=""></a>
					  <div class="caption">
					    <a href="single.html"><h3>Thumbnail label</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
				   <div class="clearfix"> </div>
				</div>
				<div class="row">
					  <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
					  <a href="single.html"><img src="catalog/view/javascript/information/images/g5.jpg" alt=""></a>
					  <div class="caption">
					    <a href="single.html"><h3>Lorem ipsum dolor</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
					   <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
					 <a href="single.html"> <img src="catalog/view/javascript/information/images/g6.jpg" alt=""></a>
					  <div class="caption">
					   <a href="single.html"> <h3>Established fact</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
					   <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
					  <a href="single.html"><img src="catalog/view/javascript/information/images/g7.jpg" alt=""></a>
					  <div class="caption">
					    <a href="single.html"><h3>Neque porro quisquam</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
				   <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--services end here-->
<!--fetures start here-->
<div class="features">
	<div class="container">
		<div class="features-main">
			<div class="features-top">
				<h3>Our Best Features</h3>
				<p>Great design is about more than style, it’s about being yoursel</p>
			</div>
			<div class="features-bottom">
				<div class="col-md-5 featu-left">
					<a href="single.html"><img src="catalog/view/javascript/information/images/home.jpg" alt=""></a>
				</div>
				<div class="col-md-7 featu-right">
					<h3>Advanced Blog Options</h3>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.</p>
				    <!--<div class="featu-btn">
				    	<a href="single.html">Read More</a>
				    </div>-->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--features end here-->
<!--effec start here-->
<div class="effec">
	<div class="container">
		<div class="effet-main">
			<div class="effec-top">
				<h3>More Effective Features</h3>
				<p>Great design is about more than style, it’s about being yoursel</p>
			</div>
			<div class="effec-bottom">
				<div class="col-md-7 effec-left">
					<h3>Advanced Blog Options</h3>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.</p>
				    <!--<div class="effec-btn">
				    	<a href="single.html">Read More</a>
				    </div>-->
				</div>
				<div class="col-md-5 effec-right">
					<a href="single.html"><img src="catalog/view/javascript/information/images/villa.jpg" alt=""></a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>

<!--footer start here-->
<div class="footer">
	
	<div class="copyright">
	<div class="container">
		<div class="copy-main">
			<div class="copy-left">
				<p>Copyright &copy; Company name All rights </p>
			</div>
			<div class="copy-right"> 
				<ul>
					<li><a class="active" href="index.html">Home</a></li>/
					<li><a href="about.html">About</a></li>/
					<li><a href="blog.html">Blog</a></li>/
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
<!--footer end here-->
</body>
</html>